[core]
    editor = /usr/bin/vi
[user]
    name = Alex Kitching
    email = alex.kitching@amalgamstudios.com
    signingkey = 413E4D58
[alias]
    co = checkout
    cl = "!sh $HOME/git-clone-bare-for-worktrees.sh"
    ci = commit
    br = branch
    st = status

    # Log
    last = log -1 HEAD
    l = log
    lg = log --graph
    lv = log --show-signature
    lgv = log --oneline --graph --decorate --all --show-signature
    lvg = log --oneline --graph --decorate --all --show-signature
    l1 = log --oneline

    # Diff
    d = diff
    dc = diff --cached
    wd = diff --word-diff
    wdc = diff --word-diff --cached

    # Worktree
    wt = worktree
    wtl = worktree list
    wta = "!f() { git worktree add $1 $1; git branch --set-upstream-to=origin/$1 $1; echo \"$(basename $PWD)\" > \"$1/.wakatime-project\"; echo \"$1\" >> \"$1/.wakatime-project\"; }; f"
    wtc = "!f() { git worktree add -b $1 $1 $2; git push --set-upstream origin $1; echo \"$(basename $PWD)\" > \"$1/.wakatime-project\"; echo \"$1\" >> \"$1/.wakatime-project\"; }; f"
    wtr = worktree remove
    wtp = worktree prune
    setup-wakatime = "!sh $HOME/git-setup-wakatime-in-worktree.sh"
[color]
    ui = true
[push]
    default = simple
[commit]
    gpgsign = true
    
[pull]
    rebase = false
